services:
  - type: web
    name: educonnect
    runtime: docker
    plan: free
    branch: main
    healthCheckPath: /
    envVars:
      - key: APP_NAME
        value: EduConnect
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: APP_URL
        sync: false
      - key: LOG_CHANNEL
        value: stack
      - key: LOG_LEVEL
        value: error
      - key: DB_CONNECTION
        value: pgsql
      - key: DATABASE_URL
        fromDatabase:
          name: educonnect-db
          property: connectionString
      - key: SESSION_DRIVER
        value: file
      - key: CACHE_DRIVER
        value: file
      - key: QUEUE_CONNECTION
        value: sync

databases:
  - name: educonnect-db
    plan: free
    databaseName: educonnect
    user: educonnect
